mixin tabbed()
  .tabbed
    block

mixin tabHeader()
  .tabbed-header
    block

mixin tabHead()
  .tabbed-head
    a&attributes(attributes)
      block

mixin tabWrap()
  .tabbed-wrap
    block

mixin tabContent()
  .tabbed-box()&attributes(attributes)
    block

