mixin MenuSectionDefault()
    nav
        ul
            li
                span 
                    a(href="#") Autos Nuevos
            li
                span 
                    a(href="#") Autos Usados
                    